{% extends 'base.html.twig' %}



{% block body %}

    <div class="container mt-4">

        <h1>Creer un nouveau bien</h1>

        {{ include('admin/biens/_form.html.twig', {form: form, button: 'Créer'}) }}

    </div>
{% endblock %}